.container{
    display :flex;
    width: 100vh;
    height: 100vh;
    /* 用渐变色来代表jpg或者.png 背景做背景图片,比单一色又更有艺术
    http 请求,浏览器的下载线程 
    color stop color + 百分比
    */
    background: linear-gradient(180deg,rgb(235,189,161)0%,rgb(71,49,32)100%);
}